<p>{{quote.description}}</p>
<button class="float-right" class="btn btn-outline-success" (click)='quoteDelete(true)'>Delete</button>
<i class="fa fa-thumbs-up btn text-primary text-center" data-toggle="tooltip" (click)='upvote(true)' title="like" aria-hidden="true"></i><span class="badge badge-pill bg-sucess" ></span>

<i class="fa fa-thumbs-down btn text-primary text-center" data-toggle="tooltip" (click)='upvote(false)' title="unlike" aria-hidden="true"></i><span class="badge badge-pill bg-sucess" ></span>


